@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));
@custom-variant compact (.compact &);
@custom-variant noAnimations (&:where(.noAnimations, .noAnimations *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer components {
  .dashboard-card {
    @apply bg-slate-900
      border
      border-slate-700
      light:bg-white
      light:border-[#e2e8f0]
      light:hover:bg-[#f8fafc]
      light:shadow-[0_1px_3px_rgba(0,0,0,0.1)]
      transition-all
      duration-300;
  }
  .dashboard-heading {
    @apply font-bold light:text-[#0f172a] text-2xl;
  }
  .dashboard-title {
    @apply font-semibold
      select-none
      light:text-[#0f172a];
  }
  .dashboard-subtitle {
    @apply text-slate-400 light:text-[#64748b] text-sm;
  }
  .dashboard-icon-button {
    @apply w-8
      h-8
      flex
      items-center
      justify-center
      rounded-full
      bg-slate-800
      hover:bg-slate-700
      light:bg-slate-200
      light:hover:bg-slate-300
      transition-all
      duration-300
      cursor-pointer;
  }
  .dashboard-news-arrow {
    @apply absolute
      top-0
      bottom-0
      z-10
      w-14
      flex
      items-center
      justify-center
      bg-slate-900/30
      light:bg-white/30
      hover:bg-slate-800/60
      light:hover:bg-slate-100/70
      transition-all
      duration-300
      cursor-pointer
      text-slate-400
      hover:text-lime-400;
  }
  .dashboard-border {
    @apply border-slate-700 light:border-[#e2e8f0];
  }
  .dashboard-text {
    @apply text-slate-300 light:text-[#475569];
  }
  .dashboard-muted-text {
    @apply text-slate-400 light:text-slate-600;
  }
  .dashboard-pagination-dot {
    @apply h-2.5
      w-7
      cursor-pointer
      rounded-full
      transition-all
      duration-300;
  }
  .dashboard-input {
    @apply w-full
      px-4
      py-3
      rounded-xl
      bg-slate-800
      border
      border-slate-700
      outline-none
      light:bg-slate-100
      light:border-slate-300
      focus:border-lime-500;
  }
  .dashboard-stat-box {
    @apply bg-slate-800
    light:bg-slate-100
    rounded-xl
    p-4
    border
    border-slate-800
    light:border-slate-300;
  }
  .dashboard-stat-label {
    @apply text-sm
    text-slate-400;
  }
  .dashboard-stat-value {
    @apply font-semibold;
  }
  .dashboard-button {
    @apply px-5
      py-3
      rounded-xl
      transition-all
      duration-300
      cursor-pointer;
  }
  .dashboard-button-secondary {
    @apply px-5
      py-3
      rounded-xl
      transition-all
      duration-300
      cursor-pointer
      bg-slate-800
      hover:bg-slate-700
      light:bg-slate-200
      light:hover:bg-slate-300;
  }
  .dashboard-section-title {
    @apply text-lg
      font-semibold
      mb-4;
  }
  .dashboard-label {
    @apply block
      text-sm
      text-slate-400
      mb-2;
  }
  .dashboard-section-label {
    @apply text-sm
      text-slate-400
      light:text-slate-600;
  }
  .dashboard-option-card {
    @apply flex-1
      h-28
      compact:h-22
      rounded-3xl
      compact:rounded-2xl
      border
      p-4
      compact:p-2
      flex
      flex-col
      justify-between
      transition-all
      duration-300
      cursor-pointer;
  }
  .dashboard-density-button {
    @apply flex-1
      py-4
      compact:py-2
      rounded-2xl
      compact:rounded-xl
      border
      font-semibold
      transition-all
      duration-300
      cursor-pointer;
  }
  .dashboard-color-picker {
    @apply w-7
      h-7
      rounded-full
      border
      cursor-pointer
      transition-all
      duration-300;
  }
  .dashboard-sidebar-border {
    @apply border-slate-800 light:border-[#e2e8f0];
  }
  .dashboard-sidebar-link {
    @apply flex
      items-center
      gap-3
      px-4
      py-3
      rounded-xl
      compact:gap-1.5
      compact:px-2
      compact:py-1
      compact:rounded-lg
      transition-all
      duration-300;
  }
  .dashboard-sidebar-link-inactive {
    @apply text-slate-400
      hover:bg-slate-800
      hover:text-white
      light:text-slate-500
      light:hover:bg-slate-200
      light:hover:text-slate-600;
  }

  .dashboard-sidebar-link-active {
    @apply bg-slate-700
      text-white
      light:bg-[#f1f5f9]
      light:text-slate-950;
  }
  .dashboard-modal-overlay {
    @apply fixed
      inset-0
      bg-black/50
      flex
      items-center
      justify-center
      z-999;
  }
  .dashboard-user-badge {
    @apply text-white
      font-normal
      text-xs
      px-2
      py-1
      rounded-2xl
      compact:px-1.5
      compact:py-0.5
      compact:rounded-xl
      select-none;
  }
  .dashboard-avatar-edit-button {
    @apply absolute
      -bottom-1
      -right-1
      w-7
      h-7
      rounded-full
      bg-slate-900
      light:bg-white
      border
      border-slate-700
      light:border-[#e2e8f0]
      flex
      items-center
      justify-center
      text-slate-300
      light:text-slate-700
      hover:scale-105
      hover:text-white
      light:hover:text-black
      transition-all
      duration-300
      cursor-pointer
      shadow-lg;
  }
  .dashboard-button-success {
    @apply px-5
      py-3
      compact:px-3
      compact:py-2
      rounded-xl
      transition-all
      duration-300
      cursor-pointer
      bg-green-800
      hover:bg-green-700
      light:bg-green-600
      light:hover:bg-green-500;
  }
  .dashboard-form-label {
    @apply text-slate-400
      mb-1
      compact:mb-0.5;
  }
  .dashboard-button-danger {
    @apply px-5
      py-3
      compact:px-3
      compact:py-2
      rounded-xl
      transition-all
      duration-300
      cursor-pointer
      bg-red-600
      hover:bg-red-500;
  }
  .dashboard-button-edit-profile {
    @apply px-6
    py-3
    rounded-2xl
    compact:px-3
    compact:py-1.5
    compact:rounded-xl
    transition-all
    duration-300
    border
    text-white/70
    backdrop-blur-xs
    cursor-pointer
    hover:scale-[1.02]
    active:scale-[0.98];
  }
}

#root {
  min-height: 100vh;
}

:root {
  --scrollbar-thumb: #334155;
}

.light {
  --scrollbar-thumb: #e2e8f0;
}

html,
body {
  @apply bg-slate-100
    dark:bg-slate-900;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

.recharts-wrapper *:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-text-fill-color: white !important;

  -webkit-text-fill-color: #cbd5e1 !important;

  -webkit-box-shadow: 0 0 0px 1000px #0f172a inset !important;

  box-shadow: 0 0 0px 1000px #0f172a inset !important;

  caret-color: #cbd5e1 !important;
  color: white !important;
  text-decoration: none;
}

.light input:-webkit-autofill,
.light input:-webkit-autofill:active,
.light input:-webkit-autofill:focus .light input:-webkit-autofill:hover {
  -webkit-text-fill-color: black !important;

  -webkit-box-shadow: 0 0 0px 1000px white inset !important;

  box-shadow: 0 0 0px 1000px white inset !important;

  caret-color: #000000 !important;
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}

.noAnimations *,
.noAnimations *::before,
.noAnimations *::after {
  transition: none !important;
  animation: none !important;
  scroll-behavior: auto !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.light ::-webkit-scrollbar-track {
  background: #ffffff;
}

.light ::-webkit-scrollbar-thumb {
  background: #cbd5e1;
}

.light ::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
