@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));
@custom-variant compact (.compact &);
@custom-variant noAnimations (&:where(.NoAnimations, .NoAnimations *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

#root {
  min-height: 100vh;
}

html,
body {
  @apply
    bg-slate-100
    dark:bg-slate-900;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

.recharts-wrapper *:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-text-fill-color: white !important;

  -webkit-text-fill-color: #cbd5e1 !important;

  -webkit-box-shadow:
    0 0 0px 1000px #0f172a inset !important;

  box-shadow:
    0 0 0px 1000px #0f172a inset !important;

  caret-color: #cbd5e1 !important;
  color: white !important;
  text-decoration: none;
}

.light input:-webkit-autofill,
.light input:-webkit-autofill:active,
.light input:-webkit-autofill:focus
.light input:-webkit-autofill:hover {
  -webkit-text-fill-color: black !important;

  -webkit-box-shadow:
    0 0 0px 1000px white inset !important;

  box-shadow:
    0 0 0px 1000px white inset !important;

  caret-color: #000000 !important;
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}

.NoAnimations *,
.NoAnimations *::before,
.NoAnimations *::after {
  transition: none !important;
  animation: none !important;
  scroll-behavior: auto !important;
}