@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body {
  @apply dark:bg-slate-900;
}

.recharts-wrapper *:focus {
  outline: none;
}

* {
  transition: color 300ms, background-color 300ms;
}